.details-banner {
  padding: 20px;
  display: flex;
  gap: 30px;
  text-align: end;
}

.details-banner-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.details-banner-left {
  width: 100%;
  align-items: flex-start;
}

.details-item {
  padding: 20px 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.details-item:nth-child(odd) {
  background-color: rgba(225, 225, 225, 0.09);
}

.details-item-title {
  font-family: sans-serif;
  font-size: 20px;
}

.details-item-right {
  display: flex;
  gap: 20px;
}
