.home-sec-banner {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.home-sec-banner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-sec-stats {
  background-color: rgba(0, 0, 0, 0.1);
}

.home-sec-grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  list-style-type: none;
}

.home-sec-grid-item:hover {
  opacity: 0.5;
}

.home-sec-grid-item:nth-child(4n + 2),
.home-sec-grid-item:nth-child(4n + 3) {
  background-color: rgba(0, 0, 0, 0.08);
}

.home-sec-item-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  height: 100%;
}

.home-sec-item-top {
  padding: 8px 16px;
  display: flex;
}

.home-sec-item-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}

.home-sec-item-image {
  width: 100px;
  filter: brightness(50%) grayscale(50%) opacity(0.5);
}

.home-sec-item-icon {
  position: absolute;
  right: 4px;
  top: 4px;
}

.title {
  font-weight: 700;
}
